galen.default.browser=firefox
<!--$.webdriver.gecko.driver=/home/anujita/Downloads/geckodriver-->
<!--$.webdriver.chrome.driver=/home/anujita/Downloads/chromedrivernew-->
<!--$.webdriver.chrome.driver=/home/anujita/Downloads/chromedriver-->
galen.browserFactory.selenium.runInGrid = true
galen.browserFactory.selenium.grid.url = http://localhost:4444/wd/hub 
galen.browserFactory.selenium.grid.browser = Firefox
galen.browserFactory.selenium.grid.browserVersion = 46.0
galen.browserFactory.selenium.grid.platform = Linux

